<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../../static/css/error.css" th:href="@{/css/error.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/favicon/favicon-32x32.png}"
    href="../../static/favicon/favicon-32x32.png">
    </head>


<div class=spacer></div> 
<div class=message>
    <img src="../../static/images/logo/WCLOGO1.png" th:src="@{/images/logo/WCLOGO1.png}"
         alt="Trin Media Logo" width="200" height="200">
<div class=message__title> Error <p class="message__title" th:text="${errorCode}"></p> </div>
<p> An error occurred in the application and your page could not be served. If you are the application owner, 
    <a href="https://devcenter.heroku.com/articles/logging#view-logs">check your logs for&nbsp;details</a>. 
    You can do this from the Heroku CLI with the command 
    <br/>
    <code>heroku logs <span>--tail</span></code> 
</p> 
</div>
</html>