<!DOCTYPE html>
<html lang="sn" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../js/services.js" th:src="@{/js/services.js}" async></script>
<link th:href="@{/webjars/bootstrap/5.3.1/css/bootstrap.min.css}"
href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
crossorigin="anonymous">
    <title>Services</title>
  <link rel="icon" type="image/x-icon" href="../images/favicon/favicon.png" th:href="@{/images/favicon/favicon.png}">
  <link rel="apple-touch-icon" href="../images/favicon/favicon.png" th:href="@{/images/favicon/favicon.png}">
  <link rel="stylesheet" href="../css/services.css" th:href="@{/css/services.css}">
  <link rel="stylesheet" href="../css/alertbox.css" th:href="@{/css/alertbox.css}">
  <link rel="stylesheet" href="../css/nav.css" th:href="@{/css/nav.css}">
</head>

<body class="container">

  <script th:src="@{/webjars/bootstrap/5.3.1/js/bootstrap.bundle.min.js}"
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
  <nav class="navbar navbar-expand-md">
    <div class="container">
      <div class="navbar-brand">
        <a href="../html/homepagesn.html" th:href="@{/sn/homepage}">
          <img id="logo" src="../images/logo/WCLOGO1.png" th:src="@{/images/logo/WCLOGO1.png}" alt="WC Brand logo"/></a>
      </div>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div id="collapsibleNavbar" class="nav-cont collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a title="Tarira nhoroondo yaTinotenda" class="menu-item vertical-centre" href="../html/sn/experiences.html" th:href="@{/sn/experiences}" >Nhoroondo</a>
          </li>
          <li class="nav-item">
            <a title="Tumira chikumbiro kuna Tinotenda" class="menu-item vertical-centre" href="../html/servicessn.html" th:href="@{/sn/services}">Mabasa</a>
          </li>
          <li class="nav-item">
            <a title="Shandura mashoko kuti ave echirungu" class="menu-item vertical-centre" href="../homepage.html" id="language" th:href="@{/services}">English</a>
          </li>
          <li class="nav-item dropdown">
        <a class="menu-item vertical-centre dropdown-toggle" href="#" role="button" id="socialsMenuLink"
          data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Socials
        </a>

            <div class="dropdown-menu" aria-labelledby="socialsMenuLink">
              <a class="dropdown-item" href="https://www.facebook.com/tchingwena1" target="_blank"><img
                      src="../images/SocialMedia/facebook.svg" th:src="@{/images/SocialMedia/facebook.svg}" class="linkimg" alt="Facebook Logo" /> <span>Facebook</span></a>
              <a class="dropdown-item" href="http://www.linkedin.com/in/tinotenda-chingwena-6034a6211"
                 target="_blank"><img src="../images/SocialMedia/linkedin.svg" th:src="@{/images/SocialMedia/linkedin.svg}" class="linkimg"
                                      alt="Linkedin Logo" /> <span>LinkedIn</span></a>
              <a class="dropdown-item" href="https://twitter.com/ndini_nhari" target="_blank"><img
                      src="../images/SocialMedia/twitter.svg" th:src="@{/images/SocialMedia/twitter.svg}" class="linkimg" alt="Twitter Logo" /> <span>Twiter</span> </a>
              <a class="dropdown-item" href="https://github.com/tinochings" target="_blank"><img
                      src="../images/SocialMedia/githublogo.svg" th:src="@{/images/SocialMedia/githublogo.svg}" class="linkimg" alt="Github Logo" /> <span>Github</span> </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div id="formAlert" style="display: none;" class="container-fluid alertBox fixed-top">
    <span id="closeButtonId" class="closebtn" style="display: none;" onclick="closeSpan()">&times;</span>
    <div class="row alertTitle">
        <h1 id="alertTitle" th:text="${alertTitle}">Success</h1>
    </div>
    <div class="row alertBody">
        <div id="formLoadingGifCont" class="row">
            <img id="formLoadingGif" width="100px" height="100px" th:src="@{/images/miscellaneous/loading.gif}"
                src="../images/miscellaneous/loading.gif" alt="Loding gif">
        </div>
        <p id="alertBody"></p>
    </div>
</div>

  <div class="container formcont">
    <h1>Ngati gadzire masharamiso tose</h1>
    <form id="form" onsubmit="sendData('sn');return false" accept-charset="UTF-8" th:object="${serviceRequest}"
    th:action="@{/sn/service}" method="post" class="servicescont">
      <div class="row">
        <div class="col">
          <label for="clientName">Zita</label>
          <input th:field="*{name}" aria-required="true" id="clientName" autocomplete="name" class="selectors" type="text" name="name" value="" required>
        </div>
        <div class="col">
          <label  for="email">Email</label>
          <input th:field="*{email}" aria-required="true" autocomplete="email" id="email" class="selectors" type="email" name="email" value="" required>
        </div>
      </div>
      <div class="row">
        <div class="col col-cont">
          <label for="servicesType">Basa</label>
          <select th:field="*{service}" aria-required="true" id="servicesType" class="selectors" name="service" required>
            <option th:value="''" th:text="'Hapana sarudzo'"></option>
            <option th:value="'Android Application'" th:text="'Android Application'"></option>
            <option th:value="'Team Project'" th:text="'Ndikoke kuita basa nevamwe vanhu'"></option>
            <option th:value="'Website'" th:text="'Website'"></option>
          </select>
        </div>
        <div class="col col-cont">
          <label for="budget">Huwando Hwemari</label>
          <select th:field="*{budget}" aria-required="true" id="budget" class="selectors" name="budget" required>
            <option th:value="''">$0</option>
            <option th:value="'$0 - $150'" th:text="'$0 - $150'"></option>
            <option th:value="'$150 - $300'" th:text="'$150 - $300'"></option>
            <option th:value="'$300 - $550'" th:text="'$300 - $550'"></option>
            <option th:value="'$500+'" th:text="'$500+'"></option>
          </select>
        </div>
      </div>

      <div id="details-cont" class="row">
        <label for="projectDetails">Zvekuwedzera</label>
        <textarea aria-required="true" class="textinput" id="projectDetails" name="details" rows="100" cols="100" required></textarea>
        <div class="row vertical-centre">
          <input id="submitbutton" type="submit" name="submitbutton" value="Tumira"></input>
        </div>
      </div>
    </form>
  </div>
</body>
</html>